<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <style type="text/css">
		body{
			background:#232332;
			overflow:hidden;
			font-family:'微软雅黑';
		}
		.header{
			height:55px;
			color:#eee;
			background:#13A89E;
			text-align:center;
		}
  </style>
</head>
<body>
<div class="container">
	<%= yield %>
</div>
</body>
</html>
